@charset "utf-8";

/* 移动设备布局: 480px 及更低。 */
*{margin:0;padding:0;font-family:"黑体";font-weight:normal;}
.clear{clear:both;}
.fl{float:left;}
ul li{list-style:none;}
img, object, embed, video {	max-width: 100%;}
.ie6 img {width:100%;}/* IE 6 不支持最大宽度，因此默认100% 宽度 */
.gridContainer{margin:0 auto;width:100%;background:#eef3fa;}
#LayoutDiv1 {clear: both;float:left;margin:10px 2.1%;width: 95%;display:inline-block;}
.head{height:43px;width:100%;background:#02A8D8;}
.head h2{color:#fff;background:url(jt.png) left center no-repeat;padding:7px 0;text-align:center;margin:0 15px;font-size:25px;}
h3{color:#4f4f4f;width:81.25%;margin-left:10px;line-height:25px;}
p{width:86%;padding-left:45px;line-height:22px;margin-top:8px;}
.list{width:100%;background:#fff;overflow:auto;}
.list ul{width:100%;color:#9c9c9c;}
.list ul li{float:left;border-bottom:1px solid #eeeceb;width:100%;padding:15px 0;}
.list ul li span{color:#0aabd9;margin-left:8px;font-size:20px;}



/* 平板电脑布局: 481px 至 768px。样式继承自: 移动设备布局。 */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 100%;
	margin:0 auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin:10px 1.5%;
	width: 97%;
	display:inline-block;
}
}

/* 桌面电脑布局: 769px 至最高 1900px。样式继承自: 移动设备布局和平板电脑布局。 */

@media only screen and (min-width: 769px) {
.gridContainer {
	width:100%;
	max-width: 1900px;
	margin:0 auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	width: 95%;
	margin:10px 2%;
	display:inline-block;
}
}