@charset "utf-8";

.position_menu{ width:1090px; height:30px; line-height:30px; padding:8px 0 8px 12px}
/* top 商品订单信息 */
.subpage_top{ padding:0 12px; margin-bottom:40px}
.subpage_top_left{ float:left; width:430px; height:auto; width:436px\9}
.subpage_top_right{ float:right; width:615px; width:600px\9}
.subpage_top_imgdiv{ width:430px;height:417px; width:436px\9;height:423px\9; padding:6px 3px 0\9; text-align:center\9; overflow:hidden; outline:1px solid #e3e3e3; outline-offset:3px}
.subpage_top_thumbnail{ width:430px; width:442px\9; height:60px;height:65px\9; margin-top:15px}
.subpage_top_thumbnail ul{ float:left; width:400px; width:412px\9; height:60px;height:65px\9; overflow:hidden; padding-top:4px}
.subpage_top_thumbnail ul li{ float:left; width:100px; width:103px\9; height:60px; text-align:center}
.subpage_top_thumbnail ul li img{ width:66px; height:56px; overflow:hidden}
.subpage_top_thumbnail ul li a{ display:inline-block; padding:3px\9; outline:1px solid #e3e3e3; outline-offset:3px; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6}
.subpage_top_thumbnail ul li a:hover{ outline:1px solid #f00; outline-offset:3px; filter:alpha(opacity=100); -moz-opacity:1; opacity:1}
.subpage_top_left_ico{ float:left; width:15px; height:60px; padding-top:3px; display:block}
.subpage_top_right_ico{ float:right; width:15px; height:60px; padding-top:3px; display:block}
.subpage_top_left_ico.first,.subpage_top_right_ico.last{ filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4}

.subpage_top_right_descripe{ padding-bottom:15px; border-bottom:1px dashed #9a9a9a}
.subpage_top_right_descripe h1{ font-size:18px; font-weight:bold; height:20px; line-height:20px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.subpage_top_right_descripe p{ color:#999; margin-top:10px;  height:60px; line-height:20px; overflow:hidden; word-wrap:break-word}

.subpage_top_right_message{ margin:10px 0}
.divline{ margin-bottom:5px}
.divline span{ padding-right:30px}
.divline span em{ color:#f00}
.divline span i{ color:#999;text-decoration:line-through}
.divline span.m_left{ float:left; width:auto}
.divline span.m_left mark{ font-size:24px; background:none; font-style:normal; font-weight:bold; color:#f00; margin-right:10px}
.divline span.m_left mark b{ font-size:32px; font-weight:bold}
.divline span.m_right{ float:right; width:auto; line-height:60px; padding-right:0}
.divline span.m_right.norm{ line-height:24px}

.subpage_top_right_ordersis{ background:#f7f7f7; padding:15px; margin-top:15px}
table td.ord_le{ display:inline-block; width:50px; vertical-align:top ; border:none;background:none}
table td.ord_le2{ display:inline-block; width:50px; vertical-align:middle ; border:none;background:none}
table td.ord_ri{ display:inline-block; width:520px;  width:515px\9; border:none }
table td.ord_ri li{ float:left; width:147px; height:31px; margin-right:25px; margin-right:20px\9; margin-bottom:15px}
table td.ord_ri li a{ display:block; width:147px; height:31px; line-height:31px; text-align:center; background:#fff; border:1px solid #d9d9d9; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
table td.ord_ri li a:hover,table td.ord_ri li a.first{ background:url(../images/checked.png) no-repeat; color: #f00}
table td.ord_ri span.less_more{ float:left; width:35px; height:35px; display:block; background:#b1b1b1; text-align:center; line-height:35px; font-size:24px; font-weight:bold; color:#fff }
table td.ord_ri span.less_more:hover{ background:#f00; cursor:pointer}
table td.ord_ri input{ float:left; width:70px; height:33px; line-height:33px;  text-align:center; padding:0 5px; color:#333; background:#fff; border:1px solid #b1b1b1; border-left:none; border-right:none}
.bt_line{ margin-top:25px}
.oreder_btn{ background:url(../images/buybt.png) no-repeat; width:147px; height:40px; margin-right:40px; display:inline-block}
.oreder_btn:hover{ background:url(../images/buybt_hover.png) no-repeat; cursor:pointer}
.chartcar_btn{ background:url(../images/chartbt.png) no-repeat; width:170px; height:40px; margin-right:40px; display:inline-block}
.chartcar_btn:hover{ background:url(../images/chartbt_hover.png) no-repeat; cursor:pointer}
.shouchang_btn{ background:url(../images/chouchanbt.png) no-repeat; width:123px; height:40px; display:inline-block}
.shouchang_btn:hover{ background:url(../images/chouchanbt_hover.png) no-repeat; cursor:pointer}

/* middle 商家其他商品 */
.subpage_middle_otherproduct{ padding:0 12px}
.subpage_middle_title{ height:40px; background:#ffa502; padding-left:20px; border:1px solid #f5f5f5; border-bottom:none}
.subpage_middle_title span{ display:block; background:url(../images/subtitle.png) no-repeat; height:40px; width:192px; line-height:40px; text-align:center; font-size:16px}
.subpage_middle_content{ border:1px solid #f5f5f5; padding:20px 0 0; border-top:none}
.subpage_middle_productwrap{ margin:0 auto;width:996px}
.subpage_middle_productwrap li{ width:223px; float:left; height:272px; overflow:hidden; padding:12px 13px}
.productwrap_texttop{ width:223px; margin:8px 0 5px} 
.productwrap_texbottom{width:223px; height:30px} 
.productwrap_name{ font-size:16px; font-weight:bold; width:223px; height:20px; text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.productwrap_descrip{ font-size:14px; color:#999; width:223px;height:40px; margin-top:8px; overflow:hidden}
.productwrap_price{ float:left; width:auto; color:#df0011}
.productwrap_price strong{ font-size:24px; font-style:normal; font-weight:bold}
.productwrap_sales{ float:right; width:auto; line-height:38px}
.subpage_middle_productwrap li{
transition:transform 0.3s linear,box-shadow 0.3s linear;
-moz-transition:-moz-transform 0.3s linear,box-shadow 0.3s linear;  /*for Firefox*/
-webkit-transition:-webkit-transform 0.3s linear,box-shadow 0.3s linear;    /*for Chrome &Safari*/
-o-transition:-o-transform 0.3s linear,box-shadow 0.3s linear;   /*for Opera*/
}
.subpage_middle_productwrap li:hover{
transform:scale(1,1);
box-shadow:0 0 10px 5px #c8c6c6;
-ms-transform:scale(1,1);  /*for IE9*/
-moz-transform:scale(1,1);  /*for Firefox*/
-webkit-transform:scale(1,1);   /*for Chrome &Safari*/
-o-transform:scale(1,1)   /*for Opera*/
}
.subpage_middle_more{ margin:0 auto}
.subpage_middle_more a{ background:url(../images/search_list.png) no-repeat  130px center #ffa502;  color:#fff; margin:15px auto 0; padding:0 12px 0 0; 
font-size:12px; height:22px;line-height:22px; width:140px; display:block; text-align:center}
.subpage_middle_more a:hover{ background:url(../images/search_list.png) no-repeat 130px center #f39d01; cursor:pointer}
.subpage_middle_souqi a{ background:url(../images/souqi.png) no-repeat center #ffa502;  color:#fff; margin:15px auto 0; padding:0 12px 0 0; 
font-size:12px; height:22px;line-height:22px; width:40px; display:none; text-align:center}
.subpage_middle_souqi a:hover{ background:url(../images/souqi.png) no-repeat center #f39d01; cursor:pointer}

/* down 商家、用户评论&商品详情 */
.subpage_down{ padding:0 12px 10px; margin:25px 0 10px}
.subpage_down_left{ float:left; width:242px}
.subpage_down_right{ float:right; width:806px}
.left_title{ height:35px; line-height:35px; text-align:center; background:#1186cb; color:#fff; font-size:16px}
.left_wrap{ width:240px; border:1px solid #e5e5e5; border-top:none; padding:3px 0}
.left_wrap li{ width:216px; padding:12px 12px 22px; margin-bottom:10px; border-bottom:1px dashed #e5e5e5}
.left_wrap li.last{ border-bottom:none; margin-bottom:0}
.left_wrap_texttop{ width:216px; margin:8px 0 5px} 
.left_wrap_texbottom{width:216px; height:30px} 
.left_wrap_name{ font-size:16px; font-weight:bold; width:216px; height:20px; text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.left_wrap_descrip{ font-size:14px; color:#999; width:216px;height:40px; margin-top:8px; overflow:hidden}
.left_wrap_newprice{ float:left; width:auto; color:#df0011}
.left_wrap_newprice strong{ font-size:24px; font-style:normal; font-weight:bold}
.left_wrap_oldprice{ float:right; width:auto; line-height:38px; color:#999; text-decoration:line-through}
.left_wrap li{
transition:transform 0.3s linear,box-shadow 0.3s linear;
-moz-transition:-moz-transform 0.3s linear,box-shadow 0.3s linear;  /*for Firefox*/
-webkit-transition:-webkit-transform 0.3s linear,box-shadow 0.3s linear;    /*for Chrome &Safari*/
-o-transition:-o-transform 0.3s linear,box-shadow 0.3s linear;   /*for Opera*/
}
.left_wrap li:hover{
transform:scale(1,1);
box-shadow:0 0 10px 5px #c8c6c6;
-ms-transform:scale(1,1);  /*for IE9*/
-moz-transform:scale(1,1);  /*for Firefox*/
-webkit-transform:scale(1,1);   /*for Chrome &Safari*/
-o-transform:scale(1,1)   /*for Opera*/
}
.right_title{ height:33px; border-bottom:2px solid #1186cb}
.right_title a{ display:block; float:left; width:auto; height:33px; line-height:33px; font-size:16px; background:#efefef; padding:0 15px; margin-right:3px}
.right_title a:hover,.right_title a.first{ color:#fff; height:43px; background:url(../images/rightIcapbg.png) no-repeat center; background-clip:padding-box}
.subpage_content{ margin-top:30px	}
#subpage_review#{ display:block}
#subpage_orderlist,#subpage_location,#subpage_notice,#subpage_introduction{ display:none}
.subpage_content_caption{ background:#f3f3f3; height:30px; line-height:30px; padding-left:15px; font-size:16px; font-weight:bold}
.subpage_content_wrap{ padding:0 20px; margin:20px 0}
.subpage_content_wrap p{ line-height:30px}
.subpage_content_wrap table{ width:100%}
.subpage_content_wrap td,.subpage_content_wrap th{ border:1px solid #e7e7e7; text-align:center;padding:6px; vertical-align:middle}
.subpage_content_wrap th{background:#f3f3f3; font-weight:bold; font-size:16px}
.subpage_content_wrap .floatright_text{ text-align:right; margin-top:10px}
.subpage_content_wrap ul.pro_img li{ margin-bottom:15px; text-align:center; font-size:21px; font-weight:bold}
.subpage_content_wrap ul.pro_img li img{ margin-top:5px; border:0; max-width:765px; overflow:hidden}

.location li{ margin-bottom:15px; position:relative}
.location_others{ margin-top:10px; border-top:1px solid #d0d0d0; height:30px; line-height:30px; color:#f00}
.location_others a{ color:#f00; padding:0 20px; display:inline-block; width:auto}
.location_others a.first{ padding-left:0 }
.location_others a:hover{ color:#1186cb}
.location_btn{ position:absolute; top:60px; right:20px; width:137px; height:35px; border-radius:6px; border:1px solid #e38f1b; background:#ffa502; text-align:center; line-height:35px; 
text-shadow:1px 1px 2px #cc8302; font-size:16px; font-weight:bold;}
.location_btn:hover{ background:#ee9a01}
.location_btn a{ color:#fff}
.location_map{ width:710px; height:400px;width:730px\9; height:410px\9;  padding-top:10px\9; overflow:hidden; text-align:center; outline:2px solid #f3f3f3; outline-offset:10px; margin:45px auto 25px; margin-top:0\9; margin-bottom:10px\9}
.location_map_text{ text-align:right; color:#999; padding-right:35px}

.review_top{ border-bottom:1px dashed #e7e7e7}
.review_top_message{ margin:0 auto 20px; padding-left:120px}
.review_top_message .m_logo{ float:left; width:139px; height:139px; overflow:hidden; vertical-align:middle; text-align:center}
.review_top_message .spite_line{ float:left; background:url(../images/spite_line.png) no-repeat; width:3px; height:139px; margin:0 60px}
.review_top_message .m_box{ float:left; width:auto}
.review_top_message .m_box h2{ font-size:14px; color:#999; font-weight:normal; margin-bottom:5px}
.review_top_message .m_box em{ color:#f00; font-style:normal}
.m_box_pingfen{ margin-bottom:5px}
.m_box_pingfen span{ margin-left:25px; font-weight:bold}
.m_box_pingfen span b{ color:#f00; font-size:21px; font-weight:bold}
.m_box_pingfen_show{ background:url(../images/pingfen.png) no-repeat; background-size:cover; width:106px; height:20px; display:inline-block; position:relative;margin-left:0 !important}
.m_box_pingfen_show_on{ background:url(../images/pfeng_02.png) no-repeat; background-size:cover; width:106px; height:20px;  display:inline-block; position:absolute; left:0; top:0;z-index:2; overflow:hidden; margin-left:0 !important}
.review_btn a{ background:#f00; padding:0 10px; text-align:center; display:block; width:120px; height:30px; line-height:30px; font-size:16px; color:#fff; margin-top:20px}
.review_btn a:hover{ background:#eb0101}
.review_top_othersays{ padding-top:20px}
.othersays_left{ float:left; width:auto; margin-right:5px}
.othersays_right{ float:left; width:645px}
.othersays_right li{ float:left; width:auto; height:20px; margin:0 15px 12px 0}
.othersays_right li a{ display:block; width:auto; height:20px; line-height:20px; padding:1px 8px; font-size:12px; text-align:center; background:#f5f5f5; border:1px solid #c8c8c8}
.othersays_right li a:hover,.othersays_right li a.first{ background:#ddd; border-color:#c4c4c4; color:#333}

.review_down{ margin:20px 0 15px}
.review_down_title{ background:#f3f3f3; height:30px}
.review_down_title a{ display:inline-block; padding:0 12px; height:30px; line-height:30px; text-align:center; border-right:2px solid #fff}
.review_down_title a:hover,.review_down_title a.first{ background:#ddd; color:#333}
.review_down_title select{ height:25px; color:#333; line-height:25px; width:110px; padding:0 6px; padding-right:0\9; background:#fff; border:1px solid #dfdfdf; margin-left:20px}
.review_content li{ border-bottom:1px dashed #e7e7e7}
.review_content li:hover,.location li:hover{ background:#fefefe}
.review_content_left{ float:left; width:auto}
.review_content_left span b{ color:#f00; font-size:18px; font-weight:bold}
.review_content_right{ float:right; width:580px}
.review_content_titlename{color:#999; font-size:12px}
.review_content_titlename h3{ color:#666; font-size:16px; font-weight:bold; float:left}
.review_content_titlename a{ color:#828282; font-size:16px; font-weight:normal; text-decoration:underline; float:right}
.review_content_titlename a:hover{ color:#f81502}
.review_content img{ width:100px; height:100px; float:left; margin-right:10px; overflow:hidden}
.review_content a.image{ float:none}
.review_content p{ margin:10px 0; line-height:20px}
.review_content p.shangjia{ color:#f00}
.reply_show{ background:#f3f3f3; display:block; margin-top:10px}
.reply_show li{ padding:12px 12px 5px; border-bottom:2px solid #fff}
.reply_show li:hover{ background:none}

