body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-1px;
  width:970px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:966px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:67px;
  width:100px;
  height:542px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:542px;
}
#u3 {
  position:absolute;
  left:2px;
  top:263px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:67px;
  width:768px;
  height:542px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:24px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:542px;
}
#u5 {
  position:absolute;
  left:2px;
  top:263px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:868px;
  top:67px;
  width:100px;
  height:542px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:542px;
}
#u7 {
  position:absolute;
  left:2px;
  top:263px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:608px;
  width:970px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:11px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:617px;
  width:970px;
  height:91px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:91px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:180px;
  top:629px;
  width:80px;
  height:19px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:310px;
  top:629px;
  width:80px;
  height:19px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:444px;
  top:629px;
  width:80px;
  height:19px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:600px;
  top:629px;
  width:80px;
  height:19px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:180px;
  top:670px;
  width:730px;
  height:17px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-size:14px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:118px;
  top:105px;
  width:70px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:138px;
  top:130px;
  width:92px;
  height:16px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:138px;
  top:153px;
  width:80px;
  height:16px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:138px;
  top:177px;
  width:92px;
  height:16px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:118px;
  top:197px;
  width:70px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:118px;
  top:297px;
  width:100px;
  height:22px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:141px;
  top:222px;
  width:100px;
  height:16px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:141px;
  top:318px;
  width:89px;
  height:23px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:141px;
  top:337px;
  width:109px;
  height:22px;
  color:#000000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:263px;
  top:118px;
  width:322px;
  height:145px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:67px;
  top:0px;
  width:66px;
  height:36px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:133px;
  top:0px;
  width:84px;
  height:36px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:217px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:36px;
  width:67px;
  height:26px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:67px;
  top:36px;
  width:66px;
  height:26px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
}
#u52 {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:133px;
  top:36px;
  width:84px;
  height:26px;
  color:#000000;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u54 {
  position:absolute;
  left:2px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:217px;
  top:36px;
  width:100px;
  height:26px;
  text-decoration:underline;
  color:#23BEB1;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u56 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:62px;
  width:67px;
  height:28px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:67px;
  top:62px;
  width:66px;
  height:28px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:133px;
  top:62px;
  width:84px;
  height:28px;
  color:#000000;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:217px;
  top:62px;
  width:100px;
  height:28px;
  text-decoration:underline;
  color:#23BEB1;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:90px;
  width:67px;
  height:28px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:67px;
  top:90px;
  width:66px;
  height:28px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:133px;
  top:90px;
  width:84px;
  height:28px;
  color:#000000;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u70 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:217px;
  top:90px;
  width:100px;
  height:28px;
  text-decoration:underline;
  color:#23BEB1;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:118px;
  width:67px;
  height:22px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u74 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:67px;
  top:118px;
  width:66px;
  height:22px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
}
#u76 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:133px;
  top:118px;
  width:84px;
  height:22px;
  color:#000000;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u78 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:217px;
  top:118px;
  width:100px;
  height:22px;
  text-decoration:underline;
  color:#23BEB1;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u80 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:263px;
  top:98px;
  width:564px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:547px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:4px;
  width:564px;
  height:2px;
}
#u82 {
  position:absolute;
  left:263px;
  top:79px;
  width:124px;
  height:23px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:23px;
}
#u82_img.selected {
}
#u82.selected {
}
#u83 {
  position:absolute;
  left:0px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:141px;
  top:242px;
  width:100px;
  height:16px;
  color:#000000;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:141px;
  top:260px;
  width:100px;
  height:16px;
  color:#23BEB1;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:141px;
  top:280px;
  width:100px;
  height:16px;
  color:#000000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:600px;
  top:139px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:699px;
  top:134px;
  width:146px;
  height:25px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u93 {
  position:absolute;
  left:699px;
  top:250px;
  width:71px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u94 {
  position:absolute;
  left:2px;
  top:1px;
  width:67px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:600px;
  top:165px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:699px;
  top:160px;
  width:146px;
  height:25px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u98 {
  position:absolute;
  left:600px;
  top:191px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:699px;
  top:186px;
  width:146px;
  height:25px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u101 {
  position:absolute;
  left:329px;
  top:401px;
  width:317px;
  height:123px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:67px;
  top:0px;
  width:66px;
  height:36px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:133px;
  top:0px;
  width:79px;
  height:36px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:212px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:36px;
  width:67px;
  height:26px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u111 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:67px;
  top:36px;
  width:66px;
  height:26px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
}
#u113 {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:133px;
  top:36px;
  width:79px;
  height:26px;
  color:#000000;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u115 {
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:212px;
  top:36px;
  width:100px;
  height:26px;
  text-decoration:underline;
  color:#23BEB1;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u117 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:62px;
  width:67px;
  height:28px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u119 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:67px;
  top:62px;
  width:66px;
  height:28px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u121 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:133px;
  top:62px;
  width:79px;
  height:28px;
  color:#000000;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u123 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:212px;
  top:62px;
  width:100px;
  height:28px;
  text-decoration:underline;
  color:#23BEB1;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u125 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:0px;
  top:90px;
  width:67px;
  height:28px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:67px;
  top:90px;
  width:66px;
  height:28px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:133px;
  top:90px;
  width:79px;
  height:28px;
  color:#000000;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u131 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:212px;
  top:90px;
  width:100px;
  height:28px;
  text-decoration:underline;
  color:#23BEB1;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u133 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:263px;
  top:321px;
  width:564px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:547px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:4px;
  width:564px;
  height:2px;
}
#u135 {
  position:absolute;
  left:263px;
  top:302px;
  width:124px;
  height:23px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:23px;
}
#u135_img.selected {
}
#u135.selected {
}
#u136 {
  position:absolute;
  left:0px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:344px;
  top:335px;
  width:96px;
  height:21px;
}
#u137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u138 {
  position:absolute;
  left:263px;
  top:340px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:538px;
  top:335px;
  width:96px;
  height:21px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u141 {
  position:absolute;
  left:456px;
  top:340px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:726px;
  top:336px;
  width:96px;
  height:21px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u144 {
  position:absolute;
  left:644px;
  top:340px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:489px;
  top:366px;
  width:71px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u147 {
  position:absolute;
  left:2px;
  top:1px;
  width:67px;
  word-wrap:break-word;
}
